.content {
  width: 80%;
  margin: 100px auto;
}

.center {
  text-align: center;
}

#multiplication-table {
  border: 15px solid darkgrey;
  margin: 0 auto;
  border-spacing: 15px;
  background: black;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
}

tr {
  border: 1px solid red;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
}

td {
  border: 3px solid white;
  padding: 20px 30px;
  background: #9502cc;
  background: -moz-linear-gradient(-45deg,  #6a0092 0%, #d87900 100%);
  background: -webkit-linear-gradient(-45deg,  #6a0092 0%,#d87900 100%);
  background: linear-gradient(135deg,  #6a0092 0%,#d87900 100%);
  font-family: fantasy;
  font-size: 30px;
  color: white;
}

#start,
#start-again {
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  background: #6a0092;
  background: -moz-linear-gradient(-45deg,  #6a0092 0%, #d87900 100%);
  background: -webkit-linear-gradient(-45deg,  #6a0092 0%,#d87900 100%);
  background: linear-gradient(135deg,  #6a0092 0%,#d87900 100%);
  display: block;
  margin: 20px auto 60px;
  box-shadow: 0 4px 32px -4px black;
  cursor: pointer;
  color: white;
}

#start-again {
  display: none;
}